body {
	margin: 0px;
	padding: 10px;
}
h3 {
	font-size: 50px;
	font-family: Arial;
	margin: 0px 0px 0px 0px;
	background-color: #3399CC;
	padding: 5px;
	color: white;
}
form {
	font-family: Arial;
	margin: 0px 0px 0px 3%;
}
input {
	margin: 5px;
}
button {
	padding: 10px 40px 10px 40px;
	font-family: Arial;
	font-size: 20px;
}
